<a href="https://colab.research.google.com/github/Demon-Sheriff/Linear-Alg_ML_fs/blob/master/OLA_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown 16g-OJ_4GnG0P8FEFgTa50RMubVSBvIZl

Downloading...
From: https://drive.google.com/uc?id=16g-OJ_4GnG0P8FEFgTa50RMubVSBvIZl
To: /content/ola_driver_scaler.csv
100% 1.13M/1.13M [00:00<00:00, 12.2MB/s]

In [85]:
import pandas as pd
import numpy as np

In [86]:
data = pd.read_csv('/content/ola_driver_scaler.csv')
data = pd.DataFrame(data)

In [87]:
data['LastWorkingDate'] = pd.to_datetime(data['LastWorkingDate'])

<ipython-input-87-dd2e659bcc52>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['LastWorkingDate'] = pd.to_datetime(data['LastWorkingDate'])

In [88]:
data.columns

Index(['Unnamed: 0', 'MMM-YY', 'Driver_ID', 'Age', 'Gender', 'City',
       'Education_Level', 'Income', 'Dateofjoining', 'LastWorkingDate',
       'Joining Designation', 'Grade', 'Total Business Value',
       'Quarterly Rating'],
      dtype='object')

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            19104 non-null  int64
 1   MMM-YY                19104 non-null  object
 2   Driver_ID             19104 non-null  int64
 3   Age                   19043 non-null  float64
 4   Gender                19052 non-null  float64
 5   City                  19104 non-null  object
 6   Education_Level       19104 non-null  int64
 7   Income                19104 non-null  int64
 8   Dateofjoining         19104 non-null  object
 9   LastWorkingDate       1616 non-null   datetime64[ns]
 10  Joining Designation   19104 non-null  int64
 11  Grade                 19104 non-null  int64
 12  Total Business Value  19104 non-null  int64
 13  Quarterly Rating      19104 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(3)
memory usage: 2.0+ MB

In [90]:
data = data.drop(columns=['Unnamed: 0'])

In [91]:
data['Dateofjoining'] = pd.to_datetime(data['Dateofjoining'])
data['Dateofjoining'] = pd.to_datetime(data['Dateofjoining'])

<ipython-input-91-4b537b525a8d>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Dateofjoining'] = pd.to_datetime(data['Dateofjoining'])

In [92]:
data.head()

,MMM-YY,Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
0,01/01/19,1,28.0,0.0,C23,2,57387,2018-12-24,NaT,1,1,2381060,2
1,02/01/19,1,28.0,0.0,C23,2,57387,2018-12-24,NaT,1,1,-665480,2
2,03/01/19,1,28.0,0.0,C23,2,57387,2018-12-24,2019-03-11,1,1,0,2
3,11/01/20,2,31.0,0.0,C7,2,67016,2020-11-06,NaT,2,2,0,1
4,12/01/20,2,31.0,0.0,C7,2,67016,2020-11-06,NaT,2,2,0,1

In [93]:
data['Churn'] = data['LastWorkingDate'].apply(lambda x: 0 if x == 'NaN' else 1)

In [94]:
data.head()

,MMM-YY,Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating,Churn
0,01/01/19,1,28.0,0.0,C23,2,57387,2018-12-24,NaT,1,1,2381060,2,1
1,02/01/19,1,28.0,0.0,C23,2,57387,2018-12-24,NaT,1,1,-665480,2,1
2,03/01/19,1,28.0,0.0,C23,2,57387,2018-12-24,2019-03-11,1,1,0,2,1
3,11/01/20,2,31.0,0.0,C7,2,67016,2020-11-06,NaT,2,2,0,1,1
4,12/01/20,2,31.0,0.0,C7,2,67016,2020-11-06,NaT,2,2,0,1,1

In [95]:
num_cols = data.select_dtypes(include=np.number).columns
cat_cols = data.select_dtypes(exclude=np.number).columns

1. impute the null values -> use KNN imputer
  1.1 Knn imputer only takes numerical values so segregate the dataframe seperately and then impute them
  
2. after imputing the numerical values concatenate the categorical features data set and the numerically imputed df , :: HINT: we can make use of a set to ge the differences between the columns, you can figure that out.

3.

In [96]:
num_cols

Index(['Driver_ID', 'Age', 'Gender', 'Education_Level', 'Income',
       'Joining Designation', 'Grade', 'Total Business Value',
       'Quarterly Rating', 'Churn'],
      dtype='object')

In [97]:
num_data = data[num_cols].drop(columns=['Driver_ID']).head()

In [98]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5, weights="uniform", metric="nan_euclidean")

imputed_data = imputer.fit_transform(num_data)

df_imputed = pd.DataFrame(imputed_data, columns=num_data.columns)

In [99]:
df_imputed

,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating,Churn
0,28.0,0.0,2.0,57387.0,1.0,1.0,2381060.0,2.0,1.0
1,28.0,0.0,2.0,57387.0,1.0,1.0,-665480.0,2.0,1.0
2,28.0,0.0,2.0,57387.0,1.0,1.0,0.0,2.0,1.0
3,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,1.0
4,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,1.0

In [101]:
rem_cols = set(data.columns) - set(df_imputed.columns)

In [102]:
df_new = pd.concat([data[list(rem_cols)], df_imputed], axis=1)

In [103]:
df_new

,City,LastWorkingDate,Dateofjoining,MMM-YY,Driver_ID,Age,Gender,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating,Churn
0,C23,NaT,2018-12-24,01/01/19,1,28.0,0.0,2.0,57387.0,1.0,1.0,2381060.0,2.0,1.0
1,C23,NaT,2018-12-24,02/01/19,1,28.0,0.0,2.0,57387.0,1.0,1.0,-665480.0,2.0,1.0
2,C23,2019-03-11,2018-12-24,03/01/19,1,28.0,0.0,2.0,57387.0,1.0,1.0,0.0,2.0,1.0
3,C7,NaT,2020-11-06,11/01/20,2,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,1.0
4,C7,NaT,2020-11-06,12/01/20,2,31.0,0.0,2.0,67016.0,2.0,2.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19099,C27,NaT,2020-06-08,08/01/20,2788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19100,C27,NaT,2020-06-08,09/01/20,2788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19101,C27,NaT,2020-06-08,10/01/20,2788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19102,C27,NaT,2020-06-08,11/01/20,2788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19103,C27,NaT,2020-06-08,12/01/20,2788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
qrf = data.groupby("Driver_ID").agg({"Quarterly Rating":'first'}).reset_index()
qrl = data.groupby("Driver_ID").agg({"Quarterly Rating":'last'}).reset_index()

# qri = qrf.merge(qrl, how='inner', on='Driver_ID')

# qri['increase'] = qri['Quarterly Rating_y'] - qri['Quarterly Rating_y']

In [110]:
qrl['Quarterly Rating'] - qrf['Quarterly Rating']

0       0
1       0
2       0
3       0
4       1
       ..
2376    1
2377    0
2378   -1
2379   -1
2380    1
Name: Quarterly Rating, Length: 2381, dtype: int64

In [112]:
data['happy'] = qrl['Quarterly Rating'] - qrf['Quarterly Rating']
data['happy']

0        0.0
1        0.0
2        0.0
3        0.0
4        1.0
        ...
19099    NaN
19100    NaN
19101    NaN
19102    NaN
19103    NaN
Name: happy, Length: 19104, dtype: float64